GROBS/Web References/WebReference/MStock.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCurrentStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cCusCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cInvCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCurrentStockResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentStockSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentStock" />
  </wsdl:message>
  <wsdl:message name="GetCurrentStockSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentStockResponse" />
  </wsdl:message>
  <wsdl:portType name="MStockSoap">
    <wsdl:operation name="GetCurrentStock">
      <wsdl:input message="tns:GetCurrentStockSoapIn" />
      <wsdl:output message="tns:GetCurrentStockSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MStockSoap" type="tns:MStockSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentStock">
      <soap:operation soapAction="http://tempuri.org/GetCurrentStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MStockSoap12" type="tns:MStockSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentStock">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MStock">
    <wsdl:port name="MStockSoap" binding="tns:MStockSoap">
      <soap:address location="http://192.168.1.117:85/MStock.asmx" />
    </wsdl:port>
    <wsdl:port name="MStockSoap12" binding="tns:MStockSoap12">
      <soap12:address location="http://192.168.1.117:85/MStock.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>